body{
    background-color: rgb(2, 34, 43);
}
main{
    height: 92%;
}
#titre{
    color: rgb(181, 238, 238);
    font-family: 'Abril Fatface', cursive;
    font-size: 4vh;
    padding-left: 5vh;
    padding-top: 3vh;
    animation-name: titremouv;
    animation-direction: alternate;
    animation-duration: 2s;
    animation-iteration-count: unset;
}

@keyframes titremouv {
    from {margin-left:10%; 
        opacity: 50%;}
    to   {margin-right: 20%;
    opacity: 100%; }
    }

    
.container{
    
display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: center;
align-items: center;
margin: 3vh;


}
